
// grid of article and aside
.sidebar-container
  @media (min-width: map-get($breakpoints, md))
    display: grid
    grid-column-gap: map-get($sizes, grid-gap)
    grid-template-columns: 30% 70%

  @media (min-width: map-get($breakpoints, lg))
    grid-template-columns: 20% 80%

aside
  // cards container
  .cards
    z-index: 0
    position: sticky
    top: calc(var(--header-height) * 1.5)

    @media (max-width: map-get($breakpoints, md))
      margin-top: 1.5rem
      display: grid
      grid-template-columns: 1fr 1fr
      grid-column-gap: map-get($sizes, grid-gap)

    .card
      padding: 1rem
      border-radius: map-get($sizes, border-radius)
      margin-bottom: 1rem
      background: map-get($colors, grey)
      color: map-get($colors, lightgrey)
      box-shadow: $box-shadow

      details
        h3
          margin: 0
          font-family: map-get($fonts, body)
          text-align: center
          text-transform: uppercase

        li
          margin-bottom: 0.5rem

        &[open]
          h3
            border-bottom: 0.1rem dashed transparentize(map-get($colors, lightgrey), 0.5)
            padding-bottom: 0.3rem
            margin-bottom: 1rem

          summary h3::before
            content: "- "

        summary
          list-style: none

          &::marker
            display: none

          @media (hover: hover) and (pointer: fine)
            &:hover
              cursor: pointer

          &:focus
            outline: none

            h3::before
              color: map-get($colors, blue)

          h3::before
            content: "+ "

  // table of contents card
  nav
    word-break: break-all

    ul
      padding-left: 0

      @media (min-width: map-get($breakpoints, md))
        max-height: 50vh
        overflow-y: scroll

        @for $i from 2 through 6
          li[data-nav-level='#{$i}']
            margin-left: #{$i * 0.5}rem

ul.icon-list
  padding-left: 1rem

  li
    padding-left: 0.25rem
    margin-bottom: 0.5rem

    &::marker
      font-family: "Material Icons Outlined"

  /// link to show all categories/tags/authors
  .asterix
    &::marker
      font-family: map-get($fonts, body)
      content: "✱"
      // font-size: 4rem

  .published
    &::marker
      content: "upgrade"

  .modified
    &::marker
      content: "edit"

  .category
    &::marker
      content: "label"

  .tag
    &::marker
      font-family: map-get($fonts, body)
      content: "#"
      // content: "tag"

  .author
    &::marker
      content: "person"

    address
      font-style: normal
