<script type="application/ld+json">
	{
		{# raw insert from config file #}
		{% if JSON_LD %}
		{{ JSON_LD }}
		{% endif %}

		{# raw insert from frontmatter #}
		{% if pa and pa.jsonld %}
		{{ pa.jsonld }}
		{% endif %}

		{% with pa=pa %}
	    {% if type == 'article' %}
	        {% include './includes/seo/schemes/BlogPosting.json' %}
	    {% elif type == 'page' %}
	        {% include './includes/seo/schemes/WebPage.json' %}
	    {% else %}
	    {% endif %}
		{% endwith %}

		{# last property without tailing comma to keep json valid #}
		"@context": "http://schema.org"
	}
</script>
