<meta name="rating" content="General">

{% if SITENAME %}
<meta name="application-name" content="{{ SITENAME }}">
<meta property="og:site_name" content="{{ SITENAME }}">
{% endif %}

{% if pa %}
  {% if type == 'page' %}
    {% set type = 'website' %}
  {% endif %}
  <meta property="og:type" content="{{ type }}">

  <link rel="canonical" href="{{ SITEURL }}/{{ pa.url }}">
  {% if CANONICALURLS %}
    {% for url in CANONICALURLS %}
    <link rel="canonical" href="{{ url }}/{{ pa.url }}">
    {% endfor %}
  {% endif %}
  <meta name="og:url" content="{{ SITEURL }}/{{ pa.url }}">
  <meta property="twitter:domain" content="{{ SITEURL.rpartition('//')[-1].partition('/')[0] }}">
  <meta name="twitter:url" content="{{ SITEURL }}/{{ pa.url }}">

  {% if pa.lang %}
  <meta name="language" content="{{ pa.lang }}">
  <meta property="og:locale" content="{{ pa.lang }}">
  {% endif %}

  {% if pa.title %}
  <meta name="topic" content="{{ pa.title }}">
  <meta itemprop="name" content="{{ pa.title }}">
  <meta property="og:title" content="{{ pa.title }}">
  <meta name="twitter:title" content="{{ pa.title }}">
  {% endif %}

  {% if pa.description %}
  <meta name="description" content="{{ pa.description }}" />
  <meta name="summary" content="{{ pa.description }}">
  <meta name="og:description" content="{{ pa.description }}">
  <meta name="twitter:description" content="{{ pa.description }}">
  {% endif %}

  {% if pa.image or (MEDIA and MEDIA['og-image']) %}
  {% set image = '' %}
    {% if pa.image %}
      {% set image = pa.image %}
    {% elif MEDIA['og-image'] %}
      {% set image = MEDIA['og-image'] %}
    {% endif %}
    <meta name="og:image" content="{{ SITEURL }}/{{ image }}">
    <meta name="twitter:image" content="{{ SITEURL }}/{{ image }}">
  {% endif %}

  {% if pa.category %}
  <meta name="category" content="{{ pa.category }}">
  {% endif %}

  {% if pa.tags %}
  <meta name="keywords" content="{{ pa.tags|join(',') }}">
  {% endif %}

  {% if pa.date %}
  <meta property="article:published_time" content="{{ pa.date }}">
  {% endif %}
  {% if pa.modified %}
  <meta property="article:modified_time" content="{{ pa.modified }}">
  <meta name="revised" content="{{ pa.modified }}">
  {% endif %}

  {% if AUTHOR or pa.author %}
    {% if AUTHOR %}
      {% set meta_author = AUTHOR %}
    {% elif pa.author %}
      {% set meta_author = pa.author %}
    {% endif %}
    <meta name="author" content="{{ meta_author }}">
    <meta name="copyright" content="{{ meta_author }}">
  {% endif %}
{% endif %}
