+keyframes-to(fadein, (opacity: 1))
$duration: 0.2s

.article
  hyphens: auto

  .card
    // hide delayed cards
    opacity: 0

    @for $i from 1 through 5
      &:nth-child(0n+#{$i})
        +animation((name: fadein, duration: $duration, timing-function: ease-in))

        @if $i > 1
          // all the before animations minus the first one
          animation-delay: $i * $duration - $duration

  @media (max-width: map-get($breakpoints, md))
    word-break: break-all

  .entry-title
    padding-bottom: 0.5rem
    border-bottom: 0.1rem solid map-get($colors, grey)
    color: map-get($colors, lightgrey)
    text-align: center

  .entry-content
    @for $i from 1 through 6
      h#{$i}
        padding-bottom: 2rem / $i
        border-bottom: 0.1rem solid map-get($colors, grey)
        margin: (8rem / $i) 0 0.5rem 0
        font-size: 6rem / $i

        @if $i > 1
          color: darken(map-get($colors, green), 3 * $i)

        & + p
          margin-top: 0

        a[href^='#']
          margin-left: 0.4rem
          color: map-get($colors, grey)
          transition: 0.2s

          &:focus
            color: map-get($colors, green)

            @media (hover: hover) and (pointer: fine)
              &:hover
                color: map-get($colors, green)
                transition: 0.3s

    p
      line-height: 150%

    li
      line-height: 160%

      p
        margin: 0
