+keyframes-to(fadein, (opacity: 1))
$duration: 0.2s

.article
  hyphens: auto

  .card
    // hide delayed cards
    opacity: 0

    @media (max-width: map-get($breakpoints, md))
      word-break: break-all

    @for $i from 1 through 5
      &:nth-child(0n+#{$i})
        +animation((name: fadein, duration: $duration, timing-function: ease-in))

        @if $i > 1
          // all the before animations minus the first one
          animation-delay: $i * $duration - $duration

  header
    h1
      padding-bottom: 0.5rem
      border-bottom: 0.1rem solid map-get($colors, grey)
      color: map-get($colors, lightgrey)
      text-align: center

    figure
      margin: 0 0 2rem 0
      border-radius: map-get($sizes, border-radius)
      border: $border
      box-shadow: inset 0 0 1rem 0 map-get($colors, dark)

      img
        position: relative
        z-index: -1
        width: 100%

  .entry-content
    // hyphens: auto

    @for $i from 1 through 6
      h#{$i}
        padding-bottom: 2rem / $i
        border-bottom: 0.1rem solid map-get($colors, grey)
        margin: (8rem / $i) 0 0.5rem 0
        font-size: 6rem / $i

        @if $i > 1
          color: darken(map-get($colors, green), 3 * $i)

        @media (max-width: map-get($breakpoints, md))
          word-break: break-all

        & + p
          margin-top: 0

        a[href^='#']
          margin-left: 0.4rem
          color: map-get($colors, grey)
          transition: 0.2s

          &:focus
            color: map-get($colors, green)

            @media (hover: hover) and (pointer: fine)
              &:hover
                color: map-get($colors, green)
                transition: 0.3s

    p
      line-height: 150%

    li
      line-height: 160%

      p
        margin: 0
