{% extends "./layouts/base.html" %}

{% block html_lang %}
{{ article.lang }}
{% endblock %}

{% block title %}
{{ article.title | striptags }}
{% endblock %}

{% block content %}
<main class="article sidebar-container container">
  {% include "./includes/article_aside.html" %}
  <article>
    <header>
      <h1>{{ article.title }}</h1>
      <!-- {% if article.description %}
      {{ article.description }}
      {% endif %} -->
      {% if article.image %}
      <figure>
        <img src="{{ SITEURL }}/{{ article.image }}">
        <!-- <figcaption></figcaption> -->
      </figure>
      {% endif %}
    </header>
    <div class="entry-content">
      {{ article.content }}
    </div>
  </article>
</main>

<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/article.js"></script>
{% endblock %}
